################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MultiThreadingNet/.vs
/MultiThreadingNet/MultiThreadingNet/obj
/MultiThreadingNet/MultiThreadingNet/bin/Debug/net10.0
/MultiThreadingPython/__pycache__
/MultiThreadingRust/target
/MultiThreadingRust/Cargo.lock
/MultiThreadingNet/MultiThreadingNet/bin/Release/net10.0
